<div class="container">
    <div id="task-container">
        <h3 align="center">Client</h3>
        <div id="form-wrapper">
            <form id="form">
                <div class="flex-wrapper">
                    <div style="flex: 6">
                        <input id="title" class="form-control" type="text" name="title" placeholder="Add task">
                    </div>
                    <div style="flex: 1">
                        <input id="submit" class="btn" type="submit">
                    </div>
                </div>
            </form>
        </div>

        <div id="list-wrapper">

        </div>

        
        {%if client%}
        {%for dados in client %}
        <div id="data-row-${i}" class="task-wrapper flex-wrapper">
            <div style="flex:7">
                Name: <span class="title">{{dados.name}}</span>&ensp;&ensp;&ensp;
                Age: <span class="title">{{dados.age}}</span>                
            </div>
            
            <div style="flex:1">
                <button class="btn btn-sm btn-outline-success edit">Edit </button>
            </div>
            <div style="flex:1">
                <button class="btn btn-sm btn-outline-danger delete">x</button>
            </div>
        </div>
        {%endfor%}

        {%else%}
        <div id="data-row-${i}" class="task-wrapper flex-wrapper">
            <span class="title">Don't have client yet...</span>
        </div>

        {%endif%}



    </div>
</div>