<nav class="navbar navbar-expand-lg navbar-light bg-light">

          
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Rest Api
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./api/task/">Task</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="./api/client/">Client</a></li>
            </ul>

      </div>
    </div>
  </nav>